
*{
    margin: 0;padding: 0;box-sizing: border-box;
    
}body{
    margin: 0;padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;

}
.navbar{
    background-color: #2596be;
    width: 100vw;
    color:#fff;
}
.navbar .list{
display: flex;
justify-content: space-between;
align-items: center;
width:70vw;


}
.navbar ul li{
    display: inline;
    width: 118px;;
}
.navbar ul li div{
    background-color: #2596be;
    color:#fff;
    border:none;
    font-size: medium;
}
.navbar ul li button:hover{
background-color: #000;
opacity: 0.4;
padding:10px;
font-size: large;
color:#fff;
border-radius: 20px;
}



a , a:hover{
text-decoration: none;

}
.search_box{
position: relative;
display: flex;
justify-content: center;
align-items: center;
width:30px;
}
.searchText{
width: 0rem;
border-radius: 5rem;
outline: none;
border:none;
/* padding: 2rem; */
transition: all 0.2s linear;
}
.searchText:focus{
outline: none;
}
.searchBtn{
width: 5rem;height: 5rem;background-color: #192a56;
color:#fff;
position:absolute;
right:1rem;
display: grid;
place-items: center;
border-radius: 50%;
}
.search_box:hover > .searchText{
width: 25rem;
padding: 2rem;
box-shadow: 0px 2rem 2rem -1.5rem rgba(0, 0,0,0.5);
}
.search_box > .searchBtn{
background-color: #fff;
color:royalblue
}

